/* Define initial colors for the gradient */
:root {
  --magic-rainbow-color-0: hsl(0deg, 100%, 50%);
  --magic-rainbow-color-1: hsl(120deg, 100%, 50%);
  --magic-rainbow-color-2: hsl(240deg, 100%, 50%);
}

/* Define keyframes to animate the custom properties */
@keyframes shift {
  0% {
    --magic-rainbow-color-0: hsl(0deg, 100%, 50%);
    --magic-rainbow-color-1: hsl(120deg, 100%, 50%);
    --magic-rainbow-color-2: hsl(240deg, 100%, 50%);
  }
  33% {
    --magic-rainbow-color-0: hsl(120deg, 100%, 50%);
    --magic-rainbow-color-1: hsl(240deg, 100%, 50%);
    --magic-rainbow-color-2: hsl(360deg, 100%, 50%);
  }
  66% {
    --magic-rainbow-color-0: hsl(240deg, 100%, 50%);
    --magic-rainbow-color-1: hsl(360deg, 100%, 50%);
    --magic-rainbow-color-2: hsl(120deg, 100%, 50%);
  }
  100% {
    --magic-rainbow-color-0: hsl(0deg, 100%, 50%);
    --magic-rainbow-color-1: hsl(120deg, 100%, 50%);
    --magic-rainbow-color-2: hsl(240deg, 100%, 50%);
  }
}

.starry-sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  overflow: hidden;
  z-index: 0;
  padding-bottom: 5rem;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
}

/* Enhanced CSS for hiding scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll; /* Ensures scroll functionality is still enabled */
}

.stickyBar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  padding: 10px 20px;  /* Provides padding around the content */
  min-height: 50px;  /* Ensures at least 50px height, but can expand if needed */
  display: flex;
  align-items: center;  /* Vertically centers content within the bar */
  justify-content: space-between;  /* Adjust spacing between elements in the bar */
}

.stickyBar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;  /* Adjust height of the border as needed */
  background: linear-gradient(
    90deg,
    var(--magic-rainbow-color-0),
    var(--magic-rainbow-color-1),
    var(--magic-rainbow-color-2)
  ) !important;
  animation: shift 12s infinite linear; /* We can vary this depending on some factors */
}

.bottomBar {
  bottom: 0;
}

.topBar {
  top: 0;
}

.icon-large {
  vertical-align: middle;
  height: 2rem !important;
  width: 2rem !important;
}

.dashboard-text {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400; /* Choose the weight based on your design needs */
  font-size: 1.5rem;
  margin-right: .2rem;
  color: #00B2AA;
}

.dashboard-text-jp {
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 500; /* Choose the weight based on your design needs */
  font-size: 2rem;
  margin-left: 1rem;
  color: #e100ff;
  text-shadow: 
  0 0 4px purple, 
  0 0 2px #e100ff, 
  0 0 1px purple, 
  0 0 1px #e100ff, 
  0 0 1px purple;
}

.category-icon {
  margin-left: .5rem;
}

.worker-card {
  border: .1px solid #7D26CD;
  border-radius: 16px !important;
  position: relative;
  box-shadow:
    0 0 3px #7D26CD, /* Inner light */
    0 0 3px #7D26CD, /* Middle glow */
    0 0 3px #7D26CD !important; /* Outermost glow */
}

.customStats {
  position: absolute !important;
}

.work-page-in-progress-container, .dashboard-page-in-progress-container {
  height: fit-content;
  width: 400px;
  background: black;
  opacity: 0.8;
  z-index: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron';
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid #00e6da;
}

.worker-dashboard-container {
  height: 100vh;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  scrollbar-width: none;
}

.worker-dashboard-container::-webkit-scrollbar {
  display: none;
}

.dashboard-page-in-progress-container {
  width: fit-content;
  padding: 1.5rem;
  background-color: #161918a1;
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
}

.worker-feed {
  height: fit-content;
  width: 400px;
  border: 1px solid turquoise;
  border-radius: 15px;
  padding: 1rem;
}

.worker-dashboard-header {
  display: flex;
  flex-flow: row;
}

.in-progress-text {
  line-height: 1.5;
  color: #00e6da;
  text-align: center;
}

.timeline-list {
  list-style: katakana;
  text-align: left;
  color: #00e6da;
}

.community-icons {
  list-style: none;
  padding: 0;
}

.community-icons-controls {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}

.create-worker-container {
  max-width: 400px;
  text-align: center;
  padding: 1rem;
  border: 1px solid #00e6da;
  border-radius: 15px;
  z-index: 2;
}

.feedback-modal-container, .login-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: black;
  box-shadow: 24px 24px 48px rgba(0, 0, 0, 0.12);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00e6da;
  border: 1px solid #00e6da;
  border-radius: 5px;
}

.login-modal-container {
  width: fit-content !important;
}

.create-worker-page-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.disclaimer {
  margin-bottom: .5rem !important;
  font-family: 'Roboto', sans-serif; /* Added a fallback font */
  color: #00e6da;
  font-size: 14px;
  text-align: left;
  font-weight: 200;
  border: 1px solid #00e6da;
  border-radius: 15px;
  padding: 1rem;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .stickyBar {
    padding: 10px;  /* Reduce padding on smaller screens */
    justify-content: center;  /* Center content on smaller screens */
  }
}

@media (max-width: 1415px) {
  .hide-on-small {
    display: none;
  }

  .column-on-small {
    flex-flow: column;
  }

  .wrap-on-small {
    flex-flow: wrap;
    justify-content: center;
  }

  .create-worker-page-container {
    padding-bottom: 8rem;
  }

  .worker-dashboard-header {
    flex-flow: column;
    align-items: center;
  }

  .worker-feed {
    margin-top: 1rem;
  }

  .dashboard-page-in-progress-container {
    margin-bottom: 8rem;
  }
  
}

@media (min-height: 700px){
  .worker-dashboard-container {
    justify-content: center;
  }

  .dashboard-page-in-progress-container {
    margin-top: 0;
  }
}

@media (max-height: 700px){
  .work-page-container {
    justify-content: flex-start !important;
  }
}