/* Enhanced CSS for hiding scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll; /* Ensures scroll functionality is still enabled */
}

.stickyBar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  padding: 10px 20px;  /* Provides padding around the content */
  min-height: 50px;  /* Ensures at least 50px height, but can expand if needed */
  box-shadow: 0px -8px 6px -6px rgba(125, 38, 205, 0.6); /* Shadow only on the top */
  display: flex;
  align-items: center;  /* Vertically centers content within the bar */
  justify-content: space-between;  /* Adjust spacing between elements in the bar */
}

.bottomBar {
  bottom: 0;
}

.topBar {
  top: 0;
}

.icon-large {
  vertical-align: middle;
  height: 2rem !important;
  width: 2rem !important;
}

.dashboard-text {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500; /* Choose the weight based on your design needs */
  font-size: 2rem;
  margin-right: 1rem;
  color: #00B2AA;
}

.category-icon {
  margin-left: .5rem;
}

.worker-card {
  border: .1px solid #7D26CD;
  border-radius: 16px !important;
  position: relative;
  box-shadow:
    0 0 6px rgba(0, 229, 238, 0.6), /* Inner light */
    0 0 6px rgba(0, 229, 238, 0.6), /* Middle glow */
    0 0 6px rgba(0, 229, 238, 0.6) !important; /* Outermost glow */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .stickyBar {
    padding: 10px;  /* Reduce padding on smaller screens */
    justify-content: center;  /* Center content on smaller screens */
  }
}