:root, #root, html, body {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* For Chrome, Safari, and Opera */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #00B2AA !important; /* Your text color */
  -webkit-box-shadow: 0 0 0px 1000px #000000 inset !important; /* Your background color */
  transition: background-color 5000s ease-in-out 0s !important;
}

/* For Firefox */
input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  box-shadow: 0 0 0px 1000px #000000 inset !important; /* Your background color */
  -moz-text-fill-color: #00B2AA !important; /* Your text color */
  transition: background-color 5000s ease-in-out 0s !important;
}

/* For Internet Explorer */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #00B2AA !important; /* Your text color */
}

/* General */
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: #000000 !important; /* Your background color */
  color: #00B2AA !important; /* Your text color */
}